 <div class="container-fluid">
    <div class="row gap-3 flex-nowrap p-3 fw-bold">
      <div class="col-md-2 px-0 rounded" style="background-color: #14213d;">
        <div
          class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
        >
          <a
            class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none p-2"
          >
            <span class="fs-5 d-none d-sm-inline"><h1
                style="color: #a61e4d;"
              >Menu</h1></span>
          </a>
          <ul
            class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
            id="menu"
          >
            <li class="nav-item">
              <a href="/" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Home</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/user" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Thông Tin Cá
                  Nhân</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/khachhang/dsdt" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Đặt Đồ Ăn</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/khachhang/dsdh" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Đơn Hàng</span>
              </a>
            </li>

          </ul>
          <hr />
        </div>
      </div>
      <div class="col py-3">
        {{#if reportMessage}}
                <div class="alert alert-success" role="alert">
             <h3 class="text-center fw-bold">
              {{reportMessage}}
               </h3>

              </div>
        {{/if}}
          {{#if errorMessage}}
                <div class="alert alert-danger" role="alert">
             <h3 class="text-center fw-bold">
              {{errorMessage}}
               </h3>

              </div>
        {{/if}}
                  <h1 class="mb-5">Đơn hàng đang đặt của đối tác</h1>
                        <table class="table table-striped rounded" style="background-color:#f0f8ff ;">
  <thead>
    <tr>
      <th scope="col">Mã Đơn Hàng</th>
      <th scope="col">Hình Thức Thanh Toán</th>
      <th scope="col">Tình Trạng Đơn Hàng</th>
      <th scope="col">Tổng Giá</th>
      <th scope="col">Tài Xế</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each dhArr}}
    <tr>
      <th scope="row">{{this.MaDH}}</th>
      <td>{{this.HinhThucTT}}</td>
      <td>{{this.TinhTrangDH}}</td>
      <td>{{this.TongGia}}</td>
      <td>{{this.TaiXe}}</td>
      <td>
        <form action="/khachhang/dh/{{this.MaDH}}" method="get">
             <button class="btn btn-success">Xem Chi Tiết </button>
        </form>
       
        </td>
           <td>
        <form action="/khachhang/dh-delete/" method="POST">
             <button class="btn btn-danger">Hủy Đơn</button>
              <input type="hidden" value="{{this.MaDH}}" name="dhId">
        </form>
       
        </td>
      
      </tr>
    {{/each}}
  </tbody>
</table>
    <form action="/khachhang/dsdh/lichsu" method="get">
             <button class="btn btn-success">Xem Lịch Sử Đơn Hàng Của Bạn</button>
        </form>
        </div>
      </div>
    </div>
  </div>
