
  <div class="container-fluid">
    <div class="row gap-3 flex-nowrap p-3 fw-bold">
         <div class="col-md-2 px-0 rounded" style="background-color: #14213d;">
        <div
          class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
        >
          <a
            class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none p-2"
          >
            <span class="fs-5 d-none d-sm-inline"><h1
                style="color: #a61e4d;"
              >Menu</h1></span>
          </a>
          <ul
            class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
            id="menu"
          >
            <li class="nav-item">
              <a href="/" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Home</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/user" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Thông Tin Cá
                  Nhân</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/khachhang/dsdt" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Đặt Đồ Ăn</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/khachhang/dsdh" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Đơn Hàng</span>
              </a>
            </li>

          </ul>
          <hr />
        </div>
      </div>
      <div class="col py-3">
              {{#if reportMessage}}
                <div class="alert alert-success" role="alert">
             <h3 class="text-center fw-bold">
              {{reportMessage}}
               </h3>

              </div>
     
 

      

{{/if}}
         {{#if mess}}
                <div class="alert alert-success" role="alert">
             <h3 class="text-center fw-bold">
              {{mess}}
               </h3>

              </div>
                                
          {{else}}
                           <h1 class="mb-5">Giỏ hàng của bạn </h1>
                         
                               <table class="table table-striped rounded" style="background-color:#f0f8ff ;">
  <thead>
    <tr>
      <th scope="col">Tên Món Ăn</th>
      <th scope="col">Giá Thành</th>
      <th scope="col">Số Lượng Món</th>
      <th scope="col">Tổng Giá</th>
        <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each carts}}
    <tr>
      <th scope="row">{{this.TenMon}}</th>
      <td>{{this.GiaThanh}}</td>
      <td>{{this.SoluongMon}}</td>
      <td>{{this.TongGia}}</td>
      <td>
        <form action="/khachhang/delete-monan" method="post">
             <button class="btn btn-success">Xóa món ăn khỏi giỏ hàng</button>
              <input type="hidden" value="{{this.ID}}" name="id">
    
        </form>
       
        </td>
      
      </tr>
    {{/each}}

   
 
 
   
  </tbody>
</table>
            <div>
                 <h4>Tổng giá giỏ hàng : {{sum}}</h4>
                 <h4>Phí vận chuyển: 20000 </h4> 
                 <h4 class="mb-5">Tổng số tiền phải thanh toán là : {{total}}</h4>
                 
<div class="w-100 d-flex justify-content-start">
  <form
    class="mx-1 mx-md-4 pb-5 fw-bold w-50"
    action="/khachhang/order"
    method="POST"
  >

    <div class="d-flex flex-row align-items-center mb-4">
      <div class="form-outline flex-fill mb-0">
        <input
          type="text"
          id="dc"
          name="dc"
          class="form-control"
          placeholder="Địa chỉ giao hàng"
          required
        />
        <label class="form-label" for="dc">Địa chỉ giao hàng </label>
      </div>
    </div>
       <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">

              <select
                class="form-select"
                aria-label="Default select example"
                name="ht"
                id="ht"
                 required
              >
                <option selected>Hình thức thanh toán</option>
                <option value="Tiền mặt">Tiền mặt</option>
                <option value="Chuyển khoản">Chuyển khoản</option>
              </select>
              <label for="ht">Hình thức thanh toán</label>
            </div>
          </div>
    

  

    <button type="submit" class="btn btn-success btn-lg">Order Now</button>
                    <input type="hidden" value="{{idKH}}" name="mkh" />
                    <input type="hidden" value="{{total}}" name="tonggia" />
                     <input type="hidden" value="{{idDT}}" name="idDT" />
                      <input type="hidden" value="{{idCH}}" name="idCH" />
  </form>
</div>
<form action="/khachhang/dsma/{{idDT}}/{{idCH}}" method="get">
             <button class="btn btn-success">Back</button>
        </form>
            </div>
          {{/if}}
           
 
        </div>
      </div>
    </div>
  </div>