 <div class="container-fluid">
    <div class="row gap-3 flex-nowrap p-3 fw-bold">
      <div class="col-md-2 px-0 rounded" style="background-color: #14213d;">
        <div
          class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
        >
          <a
            class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none p-2"
          >
            <span class="fs-5 d-none d-sm-inline"><h1
                style="color: #a61e4d;"
              >Menu</h1></span>
          </a>
          <ul
            class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
            id="menu"
          >
            <li class="nav-item">
              <a href="/" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Home</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/user" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Thông Tin Cá
                  Nhân</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/nhanvien/danhsachhopdong" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Xem Danh Sách
                  Hợp Đồng</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/nhanvien/danhsachhopdongchoduyet" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Xem Danh Sách
                  Hợp Đồng Chờ Duyệt</span>
              </a>
            </li>

          </ul>
          <hr />
        </div>
      </div>
      <div class="col py-3">
        
{{#if reportMessage}}
  <div class="alert alert-success" role="alert">
    <h3 class="text-center fw-bold">
      {{reportMessage}}
    </h3>

  </div>

{{/if}}
                <h1 class="mb-5">Danh sách hơp đồng</h1>
      <table class="table table-striped rounded" style="background-color:#f0f8ff ;">
  <thead>
    <tr>
      <th scope="col">Mã Hợp Đồng</th>
      <th scope="col">Mã Đối Tác</th>
      <th scope="col">Người Đại Diện</th>
      <th scope="col">Phí kích hoạt</th>
      <th scope="col">Số Cửa Hàng</th>
      <th scope="col">Ngày Lập HD</th>
       <th scope="col">Ngày Kết Thúc HD</th>
       <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each hopdongs}}
    <tr>
      <th scope="row">{{this.MaHopDong}}</th>
      <td>{{this.MaSoThue}}</td>
      <td>{{this.NguoiDaiDien}}</td>
      <td>{{this.PhiKichHoat}}</td>
      <td>{{this.SoChiNhanh}}</td>
      <td>{{this.NgayLap}}</td>
      <td>{{this.NgayKT}}</td>
    </tr>
    {{/each}}
 
   
  </tbody>
</table>
        </div>
      </div>
    </div>
  </div>