 <div class="container-fluid">
    <div class="row gap-3 flex-nowrap p-3 fw-bold">
      <div class="col-md-2 px-0 rounded" style="background-color: #14213d;">
        <div
          class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
        >
          <a
            class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none p-2"
          >
            <span class="fs-5 d-none d-sm-inline"><h1
                style="color: #a61e4d;"
              >Menu</h1></span>
          </a>
          <ul
            class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
            id="menu"
          >
            <li class="nav-item">
              <a href="/" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Home</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/user" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Thông Tin Cá
                  Nhân</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/nhanvien/danhsachhopdong" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Xem Danh Sách
                  Hợp Đồng</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/nhanvien/danhsachhopdongchoduyet" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Xem Danh Sách
                  Hợp Đồng Chờ Duyệt</span>
              </a>
            </li>

          </ul>
          <hr />
        </div>
      </div>
      <div class="col py-3">
    <h1 class="mb-5">Duyệt hợp đồng {{ HD.MaHopDong }}</h1>
    <div class="w-100 d-flex justify-content-start">
  <form
    class="mx-1 mx-md-4 pb-5 fw-bold w-50"
    action="/nhanvien/duyethopdong"
    method="POST"
  >

    <div class="d-flex flex-row align-items-center mb-4">
      <div class="form-outline flex-fill mb-0">
        <input
          type="text"
          id="mhd"
          name="mhd"
          class="form-control"
          placeholder=""
          value="{{HD.MaHopDong}}"
          readonly
        />
        <label class="form-label" for="mhd">Mã Hợp Đồng </label>
      </div>
    </div>
        <div class="d-flex flex-row align-items-center mb-4">
      <div class="form-outline flex-fill mb-0">
        <input
          type="text"
          id="mdt"
          name="mdt"
          class="form-control"
          placeholder=""
          value="{{HD.MaSoThue}}"
          readonly
        />
        <label class="form-label" for="mdt">Mã Đối Tác </label>
      </div>
    </div>

    <div class="d-flex flex-row align-items-center mb-4">
      <div class="form-outline flex-fill mb-0">
        <input
          type="text"
          id="ndd"
          name="ndd"
          class="form-control"
          placeholder=""
          value="{{HD.NguoiDaiDien}}"
          readonly
        />
        <label class="form-label" for="ndd">Người Đại Diện</label>
      </div>
    </div>

       <div class="d-flex flex-row align-items-center mb-4">
      <div class="form-outline flex-fill mb-0">
        <input
          type="text"
          id="scn"
          name="scn"
          class="form-control"
          placeholder=""
          value="{{HD.SoChiNhanh}}"
          readonly
        />
        <label class="form-label" for="scn">Số Chi Nhánh</label>
      </div>
    </div>

       <div class="d-flex flex-row align-items-center mb-4">
      <div class="form-outline flex-fill mb-0">
        <input
          type="text"
          id="pkh"
          name="pkh"
          class="form-control"
          placeholder=""
          value="{{HD.PhiKichHoat}}"
          readonly
        />
        <label class="form-label" for="pkh">Phí Kích Hoạt</label>
      </div>
    </div>




    <button type="submit" class="btn btn-success btn-lg">Duyệt Hợp Đồng</button>

  </form>
</div>
        </div>
      </div>
    </div>
  </div>