{{#if admin}}

  <div class="container-fluid">
    <div class="row gap-3 flex-nowrap p-3 fw-bold">
      <div
        class="col-auto col-md-2 px-0 rounded"
        style="background-color: #14213d;"
      >
        <div
          class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
        >
          <a
            class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none p-2"
          >
            <span class="fs-5 d-none d-sm-inline"><h1
                style="color: #a61e4d;"
              >Menu</h1></span>
          </a>
          <ul
            class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
            id="menu"
          >
            <li class="nav-item">
              <a href="#" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white h3">Home</span>
              </a>
            </li>

          </ul>
          <hr />
        </div>
      </div>
      <div class="col py-3">
        <h1>Hello admin</h1>
      </div>
    </div>
  </div>
{{/if}}

{{#if nhanvien}}
  <div class="container-fluid">
    <div class="row gap-3 flex-nowrap p-3 fw-bold">
      <div class="col-md-3 px-0 rounded" style="background-color: #14213d;">
        <div
          class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
        >
          <a
            class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none p-2"
          >
            <span class="fs-5 d-none d-sm-inline"><h1
                style="color: #a61e4d;"
              >Menu</h1></span>
          </a>
          <ul
            class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
            id="menu"
          >
            <li class="nav-item">
              <a href="/" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Home</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/user" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Thông Tin Cá
                  Nhân</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/nhanvien/danhsachhopdong" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Xem Danh Sách
                  Hợp Đồng</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/nhanvien/danhsachhopdongchoduyet" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Xem Danh Sách
                  Hợp Đồng Chờ Duyệt</span>
              </a>
            </li>

          </ul>
          <hr />
        </div>
      </div>
      <div class="col py-3">
                <h1>Thông tin đăng nhập</h1>
        <div class="row gy-3 align-items-center my-3 mb-5">
          <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Tên tài khoản : </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">{{user.UName}}</p>
            </div>

              <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Email: </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">{{user.Email}}</p>
            </div>
                <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Password: </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">*********</p>
            </div>
          </div>

          <h1>Thông tin cá nhân</h1>
           <div class="row gy-3 align-items-center my-3">
          <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Họ và tên : </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">{{info.HoTen}}</p>
            </div>

                <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Địa chỉ nhân viên: </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">{{info.DiaChi}}</p>
            </div>
          <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Phone: </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">{{info.SDT}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}
{{#if taixe}}
  <div class="container-fluid">
    <div class="row gap-3 flex-nowrap p-3 fw-bold">
      <div class="col-md-3 px-0 rounded" style="background-color: #14213d;">
        <div
          class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
        >
          <a
            class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none p-2"
          >
            <span class="fs-5 d-none d-sm-inline"><h1
                style="color: #a61e4d;"
              >Menu</h1></span>
          </a>
          <ul
            class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
            id="menu"
          >
            <li class="nav-item">
              <a href="/" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Home</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/user" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Thông Tin Cá
                  Nhân</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Chọn đơn hàng</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Xem Thu Nhập</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Xem Danh Sách
                  Đơn Hàng</span>
              </a>
            </li>

          </ul>
          <hr />
        </div>
      </div>
      <div class="col py-3">
                      <h1>Thông tin đăng nhập</h1>
        <div class="row gy-3 align-items-center my-3 mb-5">
          <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Tên tài khoản : </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">{{user.UName}}</p>
            </div>

              <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Email: </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">{{user.Email}}</p>
            </div>
                <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Password: </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">*********</p>
            </div>
          </div>

          <h1>Thông tin cá nhân</h1>
           <div class="row gy-3 align-items-center my-3">
          <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Họ và tên : </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">{{info.HoTen}}</p>
            </div>

                <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">CMND: </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">{{info.CMND}}</p>
            </div>
          <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Email: </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">{{info.Email}}</p>
            </div>
               <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Phone: </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">{{info.SDT}}</p>
            </div>
                 <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Số tài khoản: </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">{{info.STK}}</p>
            </div>
                   <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Địa chỉ: </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">{{info.DiaChi}}</p>
            </div>
                 <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Biển số xe: </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">{{info.BienSoXe}}</p>
            </div>
               <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Khu vực hoạt động: </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">{{info.KhuVucHD}}</p>
            </div>
          
        
          
          </div>
      </div>
    </div>
  </div>
{{/if}}
{{#if khachhang}}
  <div class="container-fluid">
    <div class="row gap-3 flex-nowrap p-3 fw-bold">
      <div class="col-md-3 px-0 rounded" style="background-color: #14213d;">
        <div
          class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
        >
          <a
            class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none p-2"
          >
            <span class="fs-5 d-none d-sm-inline"><h1
                style="color: #a61e4d;"
              >Menu</h1></span>
          </a>
          <ul
            class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
            id="menu"
          >
            <li class="nav-item">
              <a href="/" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Home</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/user" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Thông Tin Cá
                  Nhân</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/khachhang/dsdt" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Đặt Đồ Ăn</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/khachhang/dsdh" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Đơn Hàng</span>
              </a>
            </li>

          </ul>
          <hr />
        </div>
      </div>
      <div class="col py-3">
                  <h1>Thông tin đăng nhập</h1>
        <div class="row gy-3 align-items-center my-3 mb-5">
          <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Tên tài khoản : </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">{{user.UName}}</p>
            </div>

              <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Email: </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">{{user.Email}}</p>
            </div>
                <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Password: </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">*********</p>
            </div>
          </div>

          <h1>Thông tin cá nhân</h1>
           <div class="row gy-3 align-items-center my-3">
          <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Họ và tên : </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">{{info.HoTen}}</p>
            </div>

                <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Địa chỉ khách hàng: </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">{{info.DiaChi}}</p>
            </div>
          <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Phone: </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">{{info.SDT}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}
{{#if doitac}}
  <div class="container-fluid">
    <div class="row gap-3 flex-nowrap p-3 fw-bold">
      <div class="col-md-3 px-0 rounded" style="background-color: #14213d;">
        <div
          class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
        >
          <a
            class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none p-2"
          >
            <span class="fs-5 d-none d-sm-inline"><h1
                style="color: #a61e4d;"
              >Menu</h1></span>
          </a>
          <ul
            class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
            id="menu"
          >
            <li class="nav-item">
              <a href="/" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Home</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/user" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Thông Tin Cá
                  Nhân</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/doitac/cuahang" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Cửa Hàng</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/doitac/donhang" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline text-white">Đơn Hàng</span>
              </a>
            </li>

          </ul>
          <hr />
        </div>
      </div>
      <div class="col py-3">
        <h1>Thông tin đăng nhập</h1>
        <div class="row gy-3 align-items-center my-3 mb-5">
          <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Tên tài khoản : </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">{{user.UName}}</p>
            </div>

              <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Email: </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">{{user.Email}}</p>
            </div>
                <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Password: </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">*********</p>
            </div>
          </div>

          <h1>Thông tin cá nhân</h1>
           <div class="row gy-3 align-items-center my-3">
          <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Họ và tên : </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">{{info.TenDoiTac}}</p>
            </div>

              <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Người đại diện : </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">{{info.NguoiDaiDien}}</p>
            </div>
                <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Địa chỉ đối tác: </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">{{info.DiaChiDoiTac}}</p>
            </div>
                 <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Địa chỉ kinh doanh: </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">{{info.DiaChiKinhDoanh}}</p>
            </div>     <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Phone: </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">{{info.SDT}}</p>
            </div>
            <div class="col-3">
              <p class="text-danger m-0 h5 fw-bold">Tên Quán Ăn: </p>
            </div>
               <div class="col-9">
                 <p class="m-0 h5">{{info.TenQuanAn}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}